<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Aura" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50">
    <%= render "shared/navbar" %>
    
    <main class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
      <div class="max-w-3xl mx-auto">
        <% if notice %>
          <div class="mb-4 p-4 bg-blue-50 rounded-md border border-blue-200">
            <p class="text-blue-700"><%= notice %></p>
          </div>
        <% end %>
        
        <% if alert %>
          <div class="mb-4 p-4 bg-red-50 rounded-md border border-red-200">
            <p class="text-red-700"><%= alert %></p>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
